.App {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#light { background-color: #e8f3fd; }

#dark { background-color: #1d1d1d; }

.app-wrapper {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    height: 70vh;
    width: 600px;
    padding: 0;
}

@media screen and (max-width: 650px) {
    .app-wrapper { width: 480px; }
}

@media screen and (max-width: 500px) {
    .app-wrapper { width: 380px; }
}

@media screen and (max-width: 391px) {
    .app-wrapper { width: 340px; }
}